# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
#!.vscode/settings.json
#!.vscode/tasks.json
#!.vscode/launch.json
#!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/typings
*.old
*.orig
*.db

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# dependencies
/node_modules

# packagers
/.yarn
/.pnp.cjs

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log

# realm files/dirs
/etc/
/bin/
/lib/
/run/
/var/
/opt/
/tmp/

# lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

test-fixtures/
_fixtures/
test-resources/

.env.*